.allFeedback {
    display: flex;
    animation: 18s ease-in-out 0s infinite alternate bounce;
}

@keyframes bounce {
    from {
        transform: translateX(-145vw);
    }

    to {
        transform: translateX(1vw);
    }
}