.feedbackCard {
    padding: 0.5rem;
    border: 1px solid black;
    margin: 0.5rem;
}

.feedbackHeader {
    display: flex;
    justify-content: space-between;
}

.customerImage {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: grid;
    place-content: center;
}