nav {
    margin: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .websiteLogo {
    height: 4rem;
    width: 7rem;
    display: block;
}

nav .menuLinks {
    display: flex;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav .menuLinks a {
    text-decoration: none;
    font-weight: 550;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    color: black;
}

nav .menuLinks a:last-of-type {
    margin-right: 0;
}

nav .menuLinks a:visited {
    text-decoration: none;
    color: black;
}

nav .menuLinks a:hover {
    text-decoration: none;
    border-bottom: 1px solid #FE8387;
    color: #FE8387;
}