nav {
    margin-bottom: 3rem;
}

.navbarList {
    color: black;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 0;
    padding: 1rem 0;
}