.bigBg {
    height: 91vh;
    background-image: url('./../../images/table\ setups/tableSetup5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    display: grid;
    place-content: center;
}

.bigBg h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    width: 99%;
    z-index: 1;
}

/* +++++++++++++++++++++++ MEDIA QUERIES +++++++++++++++++++++++ */
@media screen and (min-width: 600px) {
    .bigBg h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .bigBg {
        height: 90vh;
    }

    .bigBg h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 900px) {
    .bigBg h2 {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .bigBg {
        height: 87vh;
    }}

@media screen and (min-width: 1500px) {
    .bigBg {
        margin-bottom: 5rem;
    }
}