.bigBg {
    height: 88vh;
    background-image: url('./../../images/cool.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    display: grid;
    place-content: center;
}

.bigBg h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
}