.reusableEventCard {
    width: 100%;
    height: 24rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: end;
    justify-content: center;
    margin-bottom: 2rem;
}

/* <----------- event name & icon -----------> */
.eventNameAndIcon {
    background-color: palevioletred;
    width: 25rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
}

.eventNameAndIcon h3 {
    margin: 0;
    margin-left: 0.6rem;
    color: white;
}