body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HANDWRITING FONTS
** wind song 
** fleur de leah 
** ballet 
** passions conflict
** waterfall
** monteCarlo
** lavishly yours 
*/